body {
    padding: 0;
    margin: 0;
    background-color: rgb(49, 52, 51);
}

.wrapper {
    width: 80%;
    margin: 5% auto;
    flex-direction: column;
}

input {
    display: none;
}

.slides {
    overflow: hidden;
    margin: 0 auto;
    width: 30vw;
}

.slides__container {
    display: flex;
    gap: 20%;
    transform: translateX(0);
    transition: 0.4s ease-out;
}

.slides__item {
    /* padding: 0 40%;
    margin: 0 -20%; */
    display: block;
}

.slides__img {
    width: 30vw;
    padding: 0 0;
}

/* text */

.text {
    margin: 2rem 0 0 0;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}

/* controls */

.controls {
    display: flex;
    width: 20rem;
    gap: 2rem;

}

.controls__item {
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background-color: rgba(205, 201, 227, 0.578);
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

.controls__item:hover .btn {
    background-color: rgb(190, 183, 227);
}

.controls__item:active .btn {
    background-color: rgb(155, 145, 209);
}

/* change buttons on click */

#radio-1:checked~.controls .control-item-1 .btn {
    background-color: rgb(193, 196, 209);
    border: 0.6rem solid rgba(130, 115, 205, 0.747);
}

#radio-2:checked~.controls .control-item-2 .btn {
    background-color: rgb(193, 196, 209);
    border: 0.6rem solid rgba(130, 115, 205, 0.747);
}

#radio-3:checked~.controls .control-item-3 .btn {
    background-color: rgb(193, 196, 209);
    border: 0.6rem solid rgba(130, 115, 205, 0.747);
}

#radio-4:checked~.controls .control-item-4 .btn {
    background-color: rgb(193, 196, 209);
    border: 0.6rem solid rgba(130, 115, 205, 0.747);
}

/* change images on click on buttons */

#radio-1:checked~.slides .slides__container {
    transform: translateX(0);
}

#radio-2:checked~.slides .slides__container {
    transform: translateX(-120%);
}

#radio-3:checked~.slides .slides__container {
    transform: translateX(-240%);
}

#radio-4:checked~.slides .slides__container {
    transform: translateX(-360%);
}